.paper-container {
    background-image: url(../../images/2.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
}